body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e8f5e9; /* Светло-зеленый фон */
    font-family: Arial, sans-serif;
}
.container {
    background-color: #4caf50; /* Зеленый */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
h1 {
    text-align: center;
    color: #fff; /* Белый текст */
}
label {
    color: #fff; /* Белый текст */
    margin-bottom: 5px;
    display: block;
}
select,
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
}
button {
    background-color: #388e3c; /* Темно-зеленый */
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #2e7d32; /* Темно-зеленый при наведении */
}
